
/* B A C K G R O U N D */

body {
	font-family: "Helvetica", sans-serif;
	background-image:
	linear-gradient(
		#07cce6, #084dd6
	);

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

html {
    height: 100%;
}

/* L A Y O U T */

.spacer {
	width: 100%;
	height: 5%;
}

.mini-spacer {
	width: 100%;
	height: 2%;
}

#location {
	width: 100%;
	height: 5%;
	color: white;
}

#album {
	width: 100%;
	height: 55%;
	margin: 0px;
}

#track-info {
	width: 100%;
	height: 13%;
	margin: 0px;
}

#controls {
	width: 100%;
	height: 15%;
	margin: 0px;
}


/* E L E M E N T S */

.album-art {
	width: 90%;
    height:280px;
    max-width: 95%;
    /*height:auto; width:auto; max-width:300px; max-height:300px;*/
}

.song-title {
	color: white;
	font-size: 150%;
}

.artist-name {
	color: white;
	font-size: 125%;
}

.small-control {
	height:auto; width:auto; max-width:40px; max-height:40px;
}

.big-control {
	height:auto; width:auto; max-width:85px; max-height:85px;
	padding-left: 20px;
	padding-right: 20px;
}

button {
	background: none;
	border: none;
}
.progress {
	background-color: white;
	margin-left: 5%;
	max-width: 90%;
	width: 90%;
	margin-right: 5%;
	height: 5px;
	margin-top: -3px;
}

